/* Smart Phone And Tables */
@media (max-width: 767px) {
    .navbar-inverse .navbar-nav>li>a {
         padding-top: 10px;
         padding-bottom: 10px;
    }
    .subscribe .form-control {
        margin: 20px auto;
    }
    .navbar-fixed-top .navbar-collapse,
     .navbar-fixed-bottom .navbar-collapse
     {
        max-height: none;
     }
     .carousel-caption {
        bottom: 65px;
    }
}

/* Small Screen */
@media (min-width: 768px) and (max-width: 991px) {
    .carousel-caption {
        bottom: 60px;
    }
    .carousel-caption h1 {
        font-size: 30px;
    }
    .carousel-caption .lead {
        font-size: 15px;
    }

}
/* Medium Screen */
@media (min-width: 992px) and (max-width: 1199px) {
    .carousel-caption {
        bottom: 60px;
    }
    .carousel-caption .lead {
        font-size: 15px;
    }
}

/* Large Screen */
@media (max-width: 1200px) {

}
